<div class="search-container">
    <div class="search-content">
      <h1 class="display-4 mb-4 text-center">Steamy</h1>
      <form>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Steam name or ID"
            [(ngModel)]="searchQuery"
            name="searchQuery"
          />
          <button class="btn btn-primary" type="button" (click)="onSearch()">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div class="steam"></div>
  <!-- User Profile Card -->
  <div *ngIf="userProfile">
    <div class="card">
      <div class="card-header">
        {{ userProfile.personaname }}
      </div>
      <img [src]="userProfile.avatarfull" alt="Profile Image" class="card-img-top">
      <div class="card-body">
        <p *ngIf="userProfile.loccountrycode">Country: {{ userProfile.loccountrycode }}</p>
        <p *ngIf="userProfile.loccityid">City: {{ userProfile.loccityid }}</p>
        <p>Account Created: {{ userProfile.timecreated * 1000 | date }}</p>
        <p>Last Logged On: {{ userProfile.lastlogoff * 1000 | date }}</p>
      </div>
      <div class="card-footer" *ngIf="userProfile.gameextrainfo">
        Currently Playing: {{ userProfile.gameextrainfo }}
      </div>
    </div>
  </div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>