/* You can add global styles to this file, and also import other style files */
body {
    background-image: radial-gradient(circle, #5bb2c6, #086d86);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  }
  